/* styles */

.todo-container {
  margin: 10px 30px 10px 30px;
}

.todo-add {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-add input {
	width: 280px;
	border: solid 1px rgba(5, 13, 33, 1);
	outline: none;
	padding: 10px;
	background: rgba(225, 237, 248, 0.6);
	letter-spacing: 1px;
	font-size: 14px;
}

.todo-add button, .todo-all-clear button {
  margin-left: 10px;
  outline: none;
  border: none;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  width: 100px;
  padding: 11px 0;
  cursor: pointer;
  color: #ffffff;
  border-radius: 3px;
  background: radial-gradient(
    ellipse at right top,
    rgba(5, 13, 33, 0.9) 0%,
    rgba(5, 13, 33, 1) 100%
  );
  box-shadow: 0 5px 10px rgba(5, 13, 33, 1);
  transition: 0.3s all;
}

.todo-add button:hover, .todo-all-clear button:hover {
  box-shadow: 0 0px 10px rgba(5, 13, 33, 1);
}

.todo-list {
  height: 350px;
  overflow-y: scroll;
  border: solid 1px rgba(5, 13, 33, 1);
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

.todo-item li {
  padding: 7px 0;
  font-weight: 300;
  position: relative;

}

.todo-item img {
  padding-top: 10px;
  width: 4%;
  height: 4%;
  margin: 0 20px 0 10px;
  cursor: pointer;
}

.todo-all-clear {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.todo-all-clear button {
  width: 100%;
  margin: 0;
}
